<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--服务号-->
    <add key="appID" value="wx4876eec0f93101c7"/>
    <add key="appsecret" value="06ee27062d17c764ab2715ba8b2e8006"/>
    <!--企业号-->
    <add key="CorpID" value="wx764d7364ece9085b"/>
    <add key="Secret" value="tRFUj2xCb_KeAwpdY9AYKKBFmfNQ47uDhWx8TRfiWFr6bS5nx-_qiy8YJkIThm3Z"/>
  </appSettings>
</configuration>