@charset "utf-8";
/* CSS Document */
html, body{
	font-family:"Microsoft YaHei UI", "微软雅黑", "Myriad Pro", Helvetica, "Hiragino Sans GB W3";
	font-size:12px;
	height:100%;
	background-color:#e1e1e1;
	margin:0;
	padding:0;
}

.clear
{
	height:0px;
	clear:both;
}

.loginbody{
	padding-top:50%;
}
.loginbody .loginwin {
	margin: 0 auto 0;
	width: 80%;
	border-radius: 5px;
	overflow:hidden;
	background-color: #ddd;
}
.loginbody .loginheader {
	background-color: #256194;
	color:#fff;
	padding:10px 0 3px;
	font-size:20px;
	text-align:center;
}
.loginbody .logincontent {
	padding:0px 20px;
	text-align:center;
	background-color:#ddd;
}
.loginbody .logincontent input {
	width:84%;
	border:0px none;
	box-shadow:0px 0px 2px rgba(0,0,0,0.3);
	border-radius:2px;
	height:30px;
	lineheight:30px;
	padding-left:25px;
}
.loginbody .loginfooter{
	background-color:#e8e8e8;
	padding:10px 8%;
}

#txtusername{
	background:url(../Images/ico1.png) left no-repeat;
	background-size:20px;
	background-color:#fff;
}

#txtpwd{
	background:url(../Images/ico2.png) left no-repeat;
	background-size:20px;
	background-color:#fff;
}

#loginbtn{
	display:block;
	font-size:20px;
	padding:10px 20px;
	text-decoration:none;
	color:#fff;
	float:right;
	background:#256194;
	border-radius:5px;
}

#mainheader{
	background:#256194;
	padding:10px 0;
}

#mainheader .title {
	font-size:20px;
	text-align:center;
	color:#fff;
}

#maincontent{
}

#maincontent .logocontain{
	padding:10px 8%;
}

#maincontent .logocontain img{
	width:100%;
}

#maincontent .contentarea{
	padding: 10px 8%;
}

#maincontent .contentarea h3{
	text-align:center;
	font-size:19px;
	font-weight:normal;
	border-bottom:2px #000 solid;
}

#maincontent .content{
	background-color:#fff;
	height:200px;
	margin-bottom:10px;
}

#maincontent ul, #maincontent li{
	padding:0;
	margin:0;
	list-style:none;
}

#maincontent .imgcontainer li{
	float:left;
	width:46%;
	margin:0 4%;
}

#maincontent .imgcontainer .left{
	margin-left:0;
}

#maincontent .imgcontainer .right{
	margin-right:0;
}


#maincontent .imgcontainer img{
	width:100%;
}

#maincontent .submitBtn{
	margin:10px auto;
	display:block;
	width:40%;
	font-size:20px;
	padding:10px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	background:#256194;
	border-radius:30px;
}

#buybtn{
	margin:10px 20px;
	display:block;
	width:40%;
	font-size:16px;
	padding:10px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	float:right;
	background:#cf0000;
	border-radius:30px;
}

.probody .profooter{
	background-color:#fff;
	padding:10px 8%;
}
.procontent{
	background-color:#fff;
	margin-bottom:10px;
}

.procontent h1
{
	font-weight:normal;
	font-size:22px;
	color:#224;
	margin:5px 10px;
}
.procontent h2
{
	font-weight:normal;
	font-size:22px;
	color:#224;
	margin:0;
	margin:5px 10px;
}
.contentblank h5
{
	font-weight:normal;
	font-size:18px;
	color:#224;
	height:25px;
	margin:5px 10px;
	float:left;
}
.contentblank h6
{
	font-weight:normal;
	font-size:25px;
	color:#cf0000;
	margin:0px;
	padding-right:30px;
	float:right;
}
.contentblank h4
{
	font-weight:normal;
	font-size:15px;
	color:#224;
	margin:5px 10px;
}
